/* reset margin, padding */
body {
  margin: 0 !important;
  padding: 0 !important;

  .banner {
    height: 800px;
    background: url(/banner.jpg) center no-repeat;
    padding: 0px 20px;

    .about-sign-in {
      text-align: right;
      height: 80px;

      .about,
      .sign-in {
        display: inline-block;
        text-decoration: none;
        margin-left: 10px;
        margin-top: 20px;
        text-transform: uppercase;
        padding: 10px;
      }

      .sign-in {
        color: rgb(139, 195, 74);
        margin-right: 100px;
        border: 1px solid rgb(139, 195, 74);
        border-radius: 25px;
      }
    }

    .logo {
      background: url(hapoERP.png) center no-repeat;
      height: 80px;
    }

    .content-center {
      .left,
      .right,
      .center {
        width: 33%;
        display: inline-block;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 20px;

        img {
          height: 40px;
        }
        span {
          display: block;
          font-size: 25px;
          color: red;
        }
      }
    }

    .text-center {
      text-align: center;
      margin-top: 25px;

      span {
        display: block;
        font-size: 20px;
      }
    }

    .btn-start-now {
      text-align: center;

      button {
        text-transform: uppercase;
        padding: 8px;
        border: 2px solid green;
        border-radius: 20px;
        margin-top: 20px;
        cursor: pointer;
        background-color: greenyellow;
      }
    }
  }
}
